
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Các câu hỏi thường gặp</font></h2>
<ul>
    <li><a href="#">Làm sao để hủy đơn hàng mới đặt trên ProductStore?</a></li>
    <li><a href="#">Cách đặt hàng trên ProductStore?</a></li>
    <li><a href="#">Thời gian giao hàng dự kiến</a></li>
    <li><a href="#">Phí vận chuyển các tỉnh lẻ?</a></li>
    <li><a href="#">Các bước đổi trả hàng?</a></li>
</ul>

