
@{
    ViewBag.Title = "QuyDinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">QUY ĐỊNH SỬ DỤNG</font></h2>
    <ul>
        <li><b>Điều 1: </b></li>
        - Khi đăng ký tài khoản, bạn nên cung cấp đầy đủ thông tin về tên tuổi, địa chỉ, email,...
        <br />
        - Đây là những thông tin bắt buộc, quý khách hàng phải điền đầy đủ thông tin để chúng tôi căn cứ theo đó mà phục vụ quý khách một cách tốt nhất.
        <br />
        - Những trường hợp điền thiếu thông tin hoặc thông tin sai sự thật sẽ không được giải quyết.
        <li><b>Điều 2: </b></li>Khách hàng có trách nhiệm phải tự mình bảo quản mật khẩu, nếu mật khẩu bị lộ ra ngoài dưới bất kỳ hình thức nào, ProductStore sẽ không chịu trách nhiệm về mọi tổn thất phát sinh.
        <li><b>Điều 3: </b></li>Tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu.
        <li><b>Điều 4: </b></li>
        - Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của nhà sách cũng như hệ thống máy chủ của Nhà sách trên mạng ProductStore.com (hack, cheat...).
        <br />
        - Khi phát hiện ra lỗi của hệ thống, bạn hãy thông báo cho đội ngũ quản trị nhà sách qua email support@ProductStore.com
        <br />
        - Không được có bất kỳ hành vi nào nhằm đăng nhập trái phép hoặc tìm cách đăng nhập trái phép cũng như gây thiệt hại cho hệ thống máy chủ của nhà sách.
        <li><b>Điều 5: </b></li>
        - Khi giao tiếp, nhận xét và đánh giá bất kỳ sản phẩm hoặc nhận xét của các khách hàng khác, bạn không được quấy rối, chửi bới, làm phiền hay có bất kỳ hành vi thiếu văn hoá nào đối với khách hàng khác.
        <br />
        - Tuyệt đối nghiêm cấm việc xúc phạm, nhạo báng người khác dưới bất kỳ hình thức nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc...).
        <br />
        - Tuyệt đối nghiêm cấm mọi hành vi mạo nhận hay cố ý làm người khác tưởng lầm mình là một khách hàng khác, hoặc là thành viên trong Ban Quản trị Nhà sách trên mạng ProductStore.com.
        <li><b>Điều 6: </b></li>
        - Tuyệt đối nghiêm cấm mọi hành vi tuyên truyền, chống phá và xuyên tạc chính quyền.
        <br />
        - Tuyệt đối không bàn luận về Chính trị.
        <li><b>Điều 7: </b></li>
        - Mọi thông tin cá nhân của khách hàng sẽ được chúng tôi bảo mật, không tiết lộ ra ngoài. Chúng tôi không bán hay trao đổi những thông tin này với bất kỳ một bên thứ ba nào khác.
        <br />
        - Như trên đã nói, mọi thông tin đăng ký của thành viên sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
        <li><b>Điều 8: </b></li>Nghiêm cấm quảng bá bất kỳ sản phẩm nào khác trên diễn đàn mà không có sự đồng ý bằng văn bản của ProductStore
    </ul>
  
