
@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">PHƯƠNG THỨC THANH TOÁN</font></h2>
<ol>
    <li><b>Thanh toán qua thẻ ATM</b></li>
    Để thanh toán bằng thẻ ATM đã đăng ký dịch vụ Internet Banking, quý khách vui lòng chọn hình thức:
    <br />
    Thanh toán bằng thẻ ATM (miễn phí thanh toán)
    <br />
    Tiến hành đặt hàng
    <br />
    Hệ thống ProductStore.com sẽ chuyển quý khách qua giao diện thanh toán cổng OnePay, tại đây, quý khách chọn ngân hàng của mình và tiến hành thanh toán như hướng dẫn.
    <li><b>Thanh toán qua thẻ Visa/Master Card</b></li>
    Vinabook hỗ trợ khách hàng thanh toán đơn hàng bằng thẻ Visa hoặc Master Card thông qua cổng thanh toán trực tuyến OnePay đảm bảo thanh toán an toàn và tiện lợi cho khách hàng.
    <br />
    Các loại thẻ thanh toán được chấp nhận thanh toán tại Vinabook bằng tiền đồng Việt Nam:
    <br />
    Thẻ thanh toán có biểu tượng VISA
    <br />
    Thẻ thanh toán có biểu tượng MasterCard
    <li><b>Thanh toán qua Ví MoMo/ViettelPay</b></li>
    <li><b>Mọi thắc mắc xin liên hệ: 1900 8730</b></li>
</ol>